/*
Exercício 1

- (X) Fazer uma página web com 18 ítens, organizados em grid, de maneira similar ao exemplo em https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_lines

- (X) em telas com largura menor que 576px, o grid deve ter apenas uma coluna
- (X) em telas com largura entre 576px e 768px, o grid deve ter 2 colunas
- (X) em telas com largura entre 768px e 1024px, o grid deve ter 4 colunas
- (X) em telas com largura entre 1024px e 1280px, o grid deve ter 6 colunas
- (X) em telas maiores que 1280px, o grid deve ter 8 colunas

- quando uma ou duas colunas forem exibidas, apenas os itens com números pares devem ser exibidos
- quando quatro colunas forem exibidas, apenas os itens de números ímpares devem ser exibidos
- quando seis ou oito colunas forem exibidas, todos os itens devem ser exibidos

-quando seis colunas forem exibidas, os itens ímpares devem ocupar 3 colunas e os pares apenas uma
-quanso oito colunas forem exibidas, os itens pares devem ocupar 4 colunas e os ímpares apenas uma
*/

#container{
    grid-template-columns: auto;
    display: grid;
    background-color: goldenrod;
    gap: .3rem;
    padding: .3rem;
}

#container > div:nth-child(odd) {
    display: none;
}


#container > div{
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 3.5rem;
    font-family: sans-serif;
    /* Alinhar verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*quando uma ou duas colunas forem exibidas, apenas os itens com números pares devem ser exibidos*/
@media (min-width: 576px) {
    #container{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 768px) {
    #container{
        grid-template-columns: repeat(4, auto);
    }

    #container > div:nth-child(odd) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container > div:nth-child(even) {
        display: none;
    }
}

@media (min-width: 1024px) {
    #container {
        grid-template-columns: repeat(6, auto);
    }

    #container > div:nth-child(even) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container > div:nth-child(odd) {
        grid-column: span 3;
    }
}

@media (min-width: 1280px) {
    #container{
        grid-template-columns: repeat(8, auto);
    }

    #container > div:nth-child(odd) {
        grid-column: span 1;
    }

    #container > div:nth-child(even) {
        grid-column: span 4;
    }
}
